body {
  background-color: #A9BFFF;
}

.top-border {
    background: #1e1f26;
    height: 65px;
}

.eiren-icon {
  height: 65px;
  width: 65px;
}

.sinnzou {
  color: orange;
  font-size: 50px;
}

.ailun1 {
  color: black;
  font-size: 50px;
}

#moveDown {
  position: relative;
  top:10px;
}

.image-juren{
  
}
